@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;0,800;0,900;1,900&display=swap');

.scrollbar::-webkit-scrollbar {
  width: 5px;
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(128, 128, 128, 0.1);
  border-radius: 4px;
}

.scrollbar::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0);
}

::-webkit-scrollbar-track {
  background-color: rgb(64, 57, 57);
}
::-webkit-scrollbar-thumb {
  background-color: rgb(136, 136, 136);
  border-radius: 4px;
}
::-webkit-scrollbar {
  width: 5px;
}

body {
  font-family: 'Genshin-Regular';

}
